.App {
  text-align: center;
}

.counter {
  background-color: blue;
  height: 100px;
  padding-top: 50px;
  font-size: ;
}

.buts{
  background-color: darkorange;
  height: 40px;
  align-content: center;
}